.App {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.Controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 12px;
}

.Controls {
  display: flex;
  flex-direction: row;
}

.Flurry {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
}

.Flurry-canvas {
  background-color: black;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
}
